.toast {
  height: 10vh;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 10vh;
  right: 5px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;

  .message {
    background-color: #0f9d58;
    color: white;
    padding: 1rem;
    width: 150px;
    text-align: center;
  }
}
